/*body {
    font-family: sans-serif;
    background-color: aqua;
    color: blueviolet;
}
*/
.h1 {
    
    font-size: 50px;
    color: crimson;
    /*border: 1px solid black;*/
    /*background-color: cyan;*/
}
.center-nav {
    justify-content: center!important;
    background-color: rgb(60, 63, 63);
}

.navbar {
    padding: 0;
}

.btn {
    font-size: 20px;
}

.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 20%;
    color: blue;
}

@media (min-width: 600px) and (max-width: 1024px) {
    body {
      font-size: 14px;
      background-color: #f4f4f4;
      /* Tablet-specific styles */
    }
}

    @media (max-width: 599px) {
        body {
          font-size: 12px;
          background-color: #eaeaea;
          /* Mobile-specific styles */
        }
}
