/*body {
    font-family: sans-serif;
    background-color: aqua;
    color: blueviolet;
}
*/
.h1 {
    
    font-size: 50px;
    color: crimson;
}
.center-nav {
    justify-content: center!important;
    background-color: rgb(60, 63, 63);
}

.navbar {
    padding: 0;
}

.btn {
    font-size: 20px;
}

.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 20%;
    color: blue;
}

.input-group {
    display:flex;
    align-items: center;
}

.form-control {
    flex: 1;
    min-width: 0;
}



@media (min-width: 600px) and (max-width: 1024px) {
    body {
      font-size: 14px;
      background-color: #F4F4F4;
      /* Tablet-specific styles */
    }
}
    @media (max-width: 599px) {
        body {
          font-size: 12px;
          background-color: #EAEAEA;
          /* Mobile-specific styles */
        }
}
