/*body {
    font-family: sans-serif;
    background-color: aqua;
    color: blueviolet;
}
*/
.h1 {
    
    font-size: 50px;
    color: crimson;
    border: 1px solid black;
    background-color: darkgreen;
}
.center-nav {
    justify-content: center!important;
}

.btn {
    font-size: 20px;
}

.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 20%;
}

.input-group {
    display:flex;
    align-items: center;
}

.form-control {
    flex: 1;
    min-width: 0;
}